.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 0 auto;

  &.sticky {
    background: #fff;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    z-index: 100;
    & a {
      color: #000;
    }
  }

  & .logo {
    height: 80%;
  }

  & div {
    display: flex;
  }

  .lang {
    color: #fff;
    &:hover {
      color: $primaryColor;
    }
  }

  & ul {
    display: flex;
    margin-right: 40px;
    @media (max-width: 678px) {
      display: none;
    }
  }
  &__el {
    margin: 0 30px;
    &:last-child {
      margin: 0 0 0 15px;
    }

    & a {
      color: #fff;
      text-transform: uppercase;
      position: relative;
      &:hover {
        color: $primaryColor;
      }

      //   &::after{
      //     content: "";
      //     width: 7px;
      //     height: 7px;
      //     border-radius: 50%;
      //     display: block;
      //     background: #fff;
      //     position: absolute;
      //     left: 50%;
      //     bottom: -20px;
      //     transform: translateX(-50%);
      //     opacity: 0;
      //     transition: .15s ease-in-out;
      //   }
    }

    // &:hover a::after{
    //   opacity: 1;
    // }
  }
}
